.custom-form-commodity{
  line-height: 10px;
  display: flex;
  margin: 0 8px 8px 0;
  .ant-form-item-label {
    //width: 90px;
  }
  .ant-form-item-control-wrapper {
    //width: calc(100% - 80px);
    width: 350px;
  }
  &.alone {
    //width: 100%;
  }
}
.desc-area{
  line-height: 10px;
  display: flex;
  margin: 0 8px 8px 24px;
  .ant-form-item-control-wrapper {
    width: 91%;
  }
}
.custom-form-item {
  line-height: 10px;
  display: flex;
  margin: 0 8px 8px 0;
  .ant-form-item-label {
    width: 80px;
    //line-height:2;
    //text-align: left;
    //align-self: center
  }
  .ant-form-item-control-wrapper {
    width: calc(100% - 80px);
  }
  .ant-form-item-children {
    //width: 100%;
  }

  &.address {
    .ant-form-item-label {
    line-height: 2;
    }
    .ant-form-item-children {
      display: flex;
      > * {
        &:first-child {
          width: 120px;
          margin-right: 6px;
        }

        &:last-child {
          flex: 1;
        }
      }
    }
  }
}
.button1 {
  background-color: #1ebf1e;
  color: #fcfcfc;
  font-weight: bold;
  font-size: large;
  border: unset;
}
.button1:focus{
  background-color: #1ebf1e;
  color: #fcfcfc;
}
.action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.search-wrapper{
  display: flex;
  .search-select{
   margin-right: 5px;
  }
}
.ant-layout{
  min-height: unset;
}
.ant-popover-buttons{
  text-align: center;
}
//}
